<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Christian Foods</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
@if (User.Identity.IsAuthenticated)
{
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Christian Foods", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Maintenance</a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Maintenance Home", "MaintenanceHome", "Maintenance")</li>
                                <li>@Html.ActionLink("Search Records", "MaintenanceSearch", "Maintenance")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("OTP Support Request", "OtpRequest", "OTP")</li>
                        <li>@Html.ActionLink("Hep A Records", "HepAHome", "HepA")</li>
                        <li>@Html.ActionLink("ServSafe", "ServSafeHome", "ServSafe")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer style="position: fixed; bottom: 0px;">
                <p>&copy; @DateTime.Now.Year - Christian Foods</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
}

else
{
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Christian Foods", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                @*<div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>*@
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer style="position: fixed; bottom: 0px;">
                <p>&copy; @DateTime.Now.Year - Christian Foods</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
}

</html>
