@model IEnumerable<Maintenance.Models.ViewModels.ServSafe_ViewModels>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expiration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proctor)
        </td>
        <td>
            @{ 
                var ExpDate = item.Expiration.ToString("MMMM, yyyy");

            }
            
            @Html.DisplayFor(modelItem => ExpDate)
        </td>
    </tr>
}

</table>

@Scripts.Render("~/Scripts/Shared.js")
