@using Maintenance.Web.Models
@model LoginViewModel

<h3 class="main_header">Banducci Enterprises</h3>
<hr />

@if (User.Identity.IsAuthenticated)
{
    <div id="content">
        <div class="col-md-6" id="login_box">

            <h4 style="margin-left: 10%; font-weight:400 ;">Maintenance Home</h4>

            <a href="@Url.Action("MaintenanceHome", "Maintenance")" id="otp_button">Go To Maintenance App</a>

        </div>

        <div class="col-md-6" id="login_box">

            <h4 style="margin-left: 10%; font-weight: 400;">Send Technology Help Request</h4>

            <a href="@Url.Action("OtpRequest", "OTP")" id="otp_button">Start an OTP Help Request</a>

        </div>

        <div class="col-md-6" id="login_box">

            <h4 style="margin-left: 10%; font-weight: 400;">Hep A Records</h4>

            <a href="@Url.Action("HepAHome", "HepA")" id="otp_button">Hep A Records</a>

        </div>

        <div class="col-md-6" id="login_box">

            <h4 style="margin-left: 10%; font-weight: 400;">ServSafe Records</h4>

            <a href="@Url.Action("ServSafeHome", "ServSafe")" id="otp_button">ServSafe Records</a>

        </div>
    </div>

}

else
{
    <div class="col-md-6" id="login_box">
        <h4 style="margin-left: 10%; font-weight: 400;">Log in</h4>

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>

        }

    </div>

    <div class="col-md-6" id="login_box">

        <h4 style="margin-left: 10%; font-weight: 400;">Send Technology Help Request</h4>

        <a href="@Url.Action("OtpRequest", "OTP")" id="otp_button">Start an OTP Help Request</a>

    </div>

}

@Styles.Render("~/Content/MainPageButton.css")
