@model IEnumerable<Maintenance.Models.ViewModels.HepA_ViewModels>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstShot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondShot)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @{ 
                var FirstDate = "";
                if (item.FirstShot == null)
                {
                    FirstDate = "NO RECORD";
                }
                else
                {
                    var temp1 = Convert.ToDateTime(item.FirstShot);
                    FirstDate = temp1.ToString("dd, MMMM, yyyy");
                }
            }
            @Html.DisplayFor(modelItem => FirstDate)
        </td>
        <td>
            @{ 
                var SecondDate = "";
                if (item.SecondShot == null)
                {
                    
                    SecondDate = "NO RECORD";
                }
                else
                {
                    var temp2 = Convert.ToDateTime(item.SecondShot);
                    SecondDate = temp2.ToString("dd, MMMM, yyyy");
                }
            }
            @Html.DisplayFor(modelItem => SecondDate)
        </td>
    </tr>
}

</table>

@Scripts.Render("~/Scripts/Shared.js")

