@model IEnumerable<Maintenance.Models.ViewModels.HepA_ViewModels>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstShot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondShot)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @{ 
                var FirstDate = item.FirstShot.ToString();
            }
            @Html.DisplayFor(modelItem => FirstDate)
        </td>
        <td>
            @{ 
                if (item.SecondShot == null)
                {

                }
                var SecondDate = item.SecondShot.ToString();
            }
            @Html.DisplayFor(modelItem => SecondDate)
        </td>
    </tr>
}

</table>
