@model Maintenance.Models.OtpRequest
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<h3 class="main_header">Banducci Enterprises</h3>
<hr />

<h4>OTP Help Request</h4>
<p>Complete and submit the form for any technology issues</p>

@using (Html.BeginForm("SendOtp", "OTP", FormMethod.Post, new { }))
{
    <div style="background-color: lightblue; padding-top:2%; padding-left: 2%; padding-right: 2%;">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Store")
            @Html.DropDownList("SendTo", "Choose Store")
        </div>

        <div style="display:none">
            <input type="text" name="StoreName" id="StoreName" />
        </div>

        <div class="form-group">
            <div>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Equipment")
            @Html.DropDownList("Equipment", "Choose Equipment")
        </div>

        <div class="form-group">
            @Html.Label("Location")
            @Html.DropDownList("Location", "Choose Location")
        </div>

        <div class="form-group">
            <div>
                @Html.LabelFor(m => m.Problem)
                @Html.TextAreaFor(m => m.Problem)
                @Html.ValidationMessageFor(m => m.Problem)
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary" id="ContactMessage">Submit</button>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/Scripts/OTP.js")
